:root {
  /* main colors */
  --main-color1: #f1f9fd;
  --main-color2: #215e61;
  --main-color3: #233d4d;
  --main-color4: #1b2932;

  /* static */
  --main-lineHight: 1.35;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100%; */
  /* color: #222; */
}

.container {
  margin: auto;
  width: 80%;
}

.site-header {
  background: var(--main-color1);
  border-bottom: 1px solid var(--main-color2);
  width: 100%;
  /* position: fixed; */
  z-index: 80;
}
.site-header .header-inner {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

/* .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo img {
  height: 44px;
  width: auto;
  margin-right: 8px;
} */

.site-header .header-inner .website-name {
  font-weight: 600;
  color: var(--main-color2);
  font-size: 20px;
}
.site-header .header-inner .site-nav ul {
  list-style: none;
  display: flex;
  gap: 18px;
  align-items: center;
}
.site-header .header-inner .site-nav a {
  text-decoration: none;
  color: var(--main-color2);
  padding: 6px 8px;
  transition: all linear 0.2s;
}
.site-header .header-inner .site-nav a:hover {
  color: var(--main-color3);
  font-size: large;
  text-shadow: #ddd 1px 1px 2px;
  font-weight: 500;
}

footer {
  background-color: var(--main-color4);
  color: var(--main-color1);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px 80px 30px 80px;
  position: relative;
}
footer .upper {
  display: flex;
  flex-direction: row;
  gap: 90px;
}
footer .upper .part1 {
  position: relative;
  left: -60px;
  top: 40px;
}
footer .upper .part1 h2 {
  font-size: 35px;
}
footer .upper .part1 p {
  position: relative;
  left: 35px;
}
footer .upper .part2 ul,
footer .upper .part3 p {
  /* position: relative;
  left: 15px; */
  line-height: var(--main-lineHight);
}
footer .upper .part2 ul li {
  list-style: none;
}
footer .upper .part2 ul li a {
  text-decoration: none;
  color: var(--main-color1);
}
footer .upper .part2 ul li a:hover {
  font-size: large;
  font-weight: 500;
}
footer .upper .part4 {
  position: relative;
  left: 100px;
  /* bottom: -112px; */
  bottom: -138px;
}
footer .upper .part2 h4,
footer .upper .part3 h4 {
  border-bottom: var(--main-color2) solid 3px;
  width: fit-content;
  margin-bottom: 8px;
}
.breaker {
  width: 100%;
  height: 0.5px;
  background-color: var(--main-color1);
  margin: 0px;
}
footer .lower {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .lower .icons {
  font-size: 20px;
  display: flex;
  gap: 10px;
  margin: 25px 0;
}
footer .lower .icons i {
  border: var(--main-color1) solid 1px;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: var(--main-color1);
  transition: all linear 0.2s;
}
footer .lower .icons i:hover {
  box-shadow: inset #999 0px 0px 8px;
}

.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
}
.log-in form {
  padding: 10px 20px;
  background-color: var(--main-color3);
  border-radius: 20px;
  color: white;
  /* width: 35%; */
  /* opacity: 0.7; */
  display: flex;
  justify-content: space-between;
}
.log-in form input {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 15px;
}
.log-in form input::placeholder {
  color: white;
  font-style: italic;
}
.log-in form .sum-button {
  padding: 12px;
  background-color: var(--main-color4);
  /* opacity: 0.4; */
  color: white;
  border: none;
  border-radius: 10px;
  /* font-weight: 600; */
}
.log-in form .sum-button:hover {
  /* transform: scale(0.9); */
  cursor: pointer;
  opacity: 0.5;
}
.log-in form input:focus {
  text-transform: none;
}
.log-in i {
  margin-bottom: 30px;
  font-size: 18px;
}
.log-in i span {
  border-bottom: #215e61 solid 2px;
}

/* @media (max-width: 640px) {
  .header-inner {
    padding: 10px;
  }
  .site-nav ul {
    gap: 12px;
  }
  .logo img {
    height: 36px;
  }
} */

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 0;
  height: 100vh;
}
.hero .vector {
  position: absolute;
  top: 10px;
  right: 15px;
}
.hero .vector .photo-1 {
  object-fit: contain;
  width: 110px;
}
.hero .vector .plan {
  top: 5px;
  position: absolute;
  width: 30px;
}
.hero .inner {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero .inner h1 {
  font-size: 90px;
  color: var(--main-color3);
}
.hero .inner h1 span {
  border-bottom: var(--main-color2) solid 5px;
}
.hero .inner p {
  width: 60%;
  color: var(--main-color3);
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero-image .images-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-image img {
  width: 180px;
  border-radius: 15px;
}
.hero-image img.large {
  aspect-ratio: 1 / 2;
  width: 230px;
  object-fit: cover;
  border-radius: 30px;
}
.hero-image section {
  padding: 50px 0;
}

/* Slider */
.slider {
  max-width: 80rem;
  height: 40rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 150px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.slide > img {
  /* Only for images that have different size than slide */
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: var(--main-color1);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}
.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}
.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}


.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}
.dots__dot:last-child {
  margin: 0;
}
.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* All the media works is down there :- */

/* Make a media query for tablets, decrease the gap in the footer */
@media (max-width: 768px) {
  footer .upper {
    gap: 50px;
  }
}

/* for tablet make the flex column  */
@media (max-width: 768px) {
  .hero {
    position: relative;
    flex-direction: column;
    align-items: start;
    height: auto;
    gap: 40px;
  }

  .hero .vector {
    top: 80px;
  }
}
